/* 标题样式 */
.news-content h1 {
    font-size: 1.5rem; /* 32px */
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
@media (min-width: 640px) { /* 适用于 sm (≥640px) */
.news-content h1 { font-size: 1.75rem; } /* 32px */
}

@media (min-width: 768px) { /* 适用于 md (≥768px) */
.news-content h1 { font-size: 2.0rem; } /* 36px */
}

@media (min-width: 1024px) { /* 适用于 lg (≥1024px) */
.news-content h1 { font-size: 2.25rem; } /* 40px */
}

.news-content h2 {
    font-size: 1.25rem; /* 28px */
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #444; /* 添加底部边框 */
    padding-bottom: 0.5rem;
}
@media (min-width: 640px) { .news-content h2 { font-size: 1.5rem; } } /* 28px */
@media (min-width: 768px) { .news-content h2 { font-size: 1.75rem; } } /* 32px */
@media (min-width: 1024px) { .news-content h2 { font-size: 2.0rem; } } /* 36px */

.news-content h3 {
    font-size: 1.0rem; /* 24px */
    font-weight: 500;
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
}
@media (min-width: 640px) { .news-content h2 { font-size: 1.25rem; } } /* 28px */
@media (min-width: 768px) { .news-content h2 { font-size: 1.5rem; } } /* 32px */
@media (min-width: 1024px) { .news-content h2 { font-size: 1.75rem; } } /* 36px */


/* Default */
.news-content {
font-size: 0.875rem; /* 18px */
line-height: 1.8;
margin-bottom: 1rem;
}
@media (min-width: 640px) { .news-content { font-size: 1.0rem; } } /* 18px */
@media (min-width: 768px) { .news-content  { font-size: 1.125rem; } } /* 20px */
@media (min-width: 1024px) { .news-content  { font-size: 1.25rem; } } /* 22px */

/* 列表 */
.news-content ul {
list-style-type: disc;
margin-left: 2rem;
margin-bottom: 1rem;
}

.news-content ol {
list-style-type: decimal;
margin-left: 2rem;
margin-bottom: 1rem;
}

/* 列表项 */
.news-content li {
line-height: 1.6;
margin-bottom: 0.5rem;
}

/* 引用块 */
.news-content blockquote {
border-left: 4px solid #666;
padding-left: 1rem;
font-style: italic;
margin: 1.5rem 0;
}

/* 链接 */
.news-content a {
color: #4ea8de;
text-decoration: underline;
}

.news-content a:hover {
color: #6cb2eb;
}

/* 图片 */
.news-content img {
max-width: 100%;
height: auto;
margin: 1rem 0;
border-radius: 8px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
